<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <title>PETS</title>
    <script type="text/javascript">
        window.onload = function () {
            alert("아이디나 비밀번호가 다릅니다.");
            location.href="/users/login";
        }
    </script>
</head>

</html>